*.z3n.dk {
	tls /etc/acme.sh/*.z3n.dk_ecc/fullchain.cer /etc/acme.sh/*.z3n.dk_ecc/*.z3n.dk.key {
	}

	@guppy host guppy.z3n.dk
	handle @guppy {
		header Content-Type text/html
		respond <<HTML
		<html><head><title>Hello, guppy.z3n.dk</title></head>
		<body><h1>Hello from guppy.z3n.dk</h1></body>
		</html>
		HTML 200
	}

	@read host read.z3n.dk
	handle @read {
		reverse_proxy readeck:8000
	}

	@photos host photos.z3n.dk
	handle @photos {
		reverse_proxy immich:2283
	}

	@login host login.z3n.dk
	handle @login {
		reverse_proxy keycloak:8080
	}

	@nextcloud host cloud.z3n.dk
	handle @nextcloud {
		# https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/reverse_proxy_configuration.html#caddy
		redir /.well-known/carddav /remote.php/dav/ 301
		redir /.well-known/caldav /remote.php/dav/ 301

		reverse_proxy nextcloud:8090
	}
}