[Unit]
Description=Reverse proxy server

[Container]
Pod=proxy.pod
Network=backbone.network
Image=docker.io/library/caddy:2.8
AutoUpdate=registry
Label="app=caddy"
Volume=caddy-data.volume:/data:z
Volume=/etc/caddy:/etc/caddy:Z

[Install]
WantedBy=default.target
