[Unit]
Description=Renew SSL certificates using acme.sh

[Container]
Label=app=acme.sh
Image=docker.io/neilpang/acme.sh:latest
AutoUpdate=registry
Volume=acme-sh.volume:/acme.sh:z
Exec=--cron

[Service]
Type=oneshot
