[Unit]
Description=Redis service for Nextcloud

[Container]
ContainerName=nextcloud-redis
Image=registry.access.redhat.com/hi/valkey:9
Label=app=nextcloud
Pod=nextcloud.pod

[Service]
Restart=always

[Install]
WantedBy=multi-user.target