[Unit]
Description=Nextcloud cloud service
After=var-local-nextcloud.mount

[Container]
AutoUpdate=registry
ContainerName=nextcloud
Image=docker.io/library/nextcloud:33
Label=app=nextcloud
Pod=nextcloud.pod
Volume=/var/local/nextcloud:/var/www/html:Z

# Database configuration
Environment=SQLITE_DATABASE=nextcloud

# Admin user setup
Environment=NEXTCLOUD_ADMIN_USER=admin
Secret=nextcloud-admin,type=env,target=NEXTCLOUD_ADMIN_PASSWORD

# Reverse proxy config
Environment=APACHE_DISABLE_REWRITE_IP=1
# Subnet of podman-default-kube-network
Environment=TRUSTED_PROXIES=10.89.0.0/24

# Use of Redis is recommended by Nextcloud
Environment=REDIS_HOST=localhost

[Service]
Restart=always

[Install]
WantedBy=multi-user.target