[Unit]
Description=Renew acme.sh certificates
ConditionPathExists=/etc/acme.sh/account.conf

[Timer]
OnCalendar=daily
RandomizedDelaySec=100min

[Install]
WantedBy=timers.target
